.git
.github
.mypy_cache
.neptune
wandb
llmstudio_mnt/
.pytest_cache
data
documentation
jenkins
notebooks
output
reports
tests
.coverage
*.log
*.ipynb

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
