[flake8]
exclude=.cache, .local, server.wave, llm_studio/src/models/segmentation_models_pytorch
max-line-length = 88
# E203, W503 - black-compatible config
extend-ignore = E203, W503
per-file-ignores =
    */__init__.py: F401
    train.py: E402
    train_wave.py: E402, I001, I003
    app.py: E402
inline-quotes = "
