-i https://pypi.org/simple
--extra-index-url https://download.pytorch.org/whl/cu118
accelerate==0.23.0; python_full_version >= '3.8.0'
aiohttp==3.9.1; python_version >= '3.8'
aiosignal==1.3.1; python_version >= '3.7'
anyio==4.2.0; python_version >= '3.8'
arrow==1.3.0; python_version >= '3.8'
async-timeout==4.0.3; python_version < '3.11'
attrs==23.1.0; python_version >= '3.7'
azure-core==1.29.6; python_version >= '3.7'
azure-storage-blob==12.19.0; python_version >= '3.7'
azure-storage-file-datalake==12.14.0; python_version >= '3.7'
beautifulsoup4==4.12.2; python_full_version >= '3.6.0'
bitsandbytes==0.41.1
bleach==6.1.0; python_version >= '3.8'
blessed==1.20.0; python_version >= '2.7'
bokeh==3.3.2; python_version >= '3.9'
boto3==1.34.5; python_version >= '3.8'
botocore==1.34.5; python_version >= '3.8'
bravado==11.0.3; python_version not in '3.0, 3.1, 3.2, 3.3, 3.4' and python_full_version != '3.5.0'
bravado-core==6.1.1; python_version >= '3.7'
certifi==2023.11.17; python_version >= '3.6'
cffi==1.16.0; python_version >= '3.8'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
click==8.1.7; python_version >= '3.7'
cmake==3.28.1
colorama==0.4.6; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
contourpy==1.2.0; python_version >= '3.9'
coolname==2.2.0
cramjam==2.7.0; python_version >= '3.7'
cryptography==41.0.7; python_version >= '3.7'
datasets==2.15.0; python_full_version >= '3.8.0'
deepspeed==0.11.1
dill==0.3.7; python_version >= '3.7'
einops==0.6.1; python_version >= '3.7'
exceptiongroup==1.2.0; python_version < '3.11'
fastparquet==2023.10.1; python_version >= '3.8'
filelock==3.13.1; python_version >= '3.8'
fqdn==1.5.1
frozenlist==1.4.1; python_version >= '3.8'
fsspec[http]==2023.10.0; python_version >= '3.8'
future==0.18.3; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
gitdb==4.0.11; python_version >= '3.7'
gitpython==3.1.40; python_version >= '3.7'
gputil==1.4.0
greenlet==3.0.2; python_version >= '3' and platform_machine == 'aarch64' or (platform_machine == 'ppc64le' or (platform_machine == 'x86_64' or (platform_machine == 'amd64' or (platform_machine == 'AMD64' or (platform_machine == 'win32' or platform_machine == 'WIN32')))))
h11==0.14.0; python_version >= '3.7'
h2o-wave==0.26.2; python_full_version >= '3.7.1'
hf-transfer==0.1.3; python_version >= '3.7'
hjson==3.1.0
httpcore==1.0.2; python_version >= '3.8'
httpx==0.26.0; python_version >= '3.8'
huggingface-hub==0.19.3; python_full_version >= '3.8.0'
idna==3.6; python_version >= '3.5'
importlib-metadata==7.0.0; python_version < '3.12'
inquirer==3.1.4; python_version >= '3.8'
isodate==0.6.1
isoduration==20.11.0
jaraco.classes==3.3.0; python_version >= '3.8'
jeepney==0.8.0; sys_platform == 'linux'
jinja2==3.1.2; python_version >= '3.7'
jmespath==1.0.1; python_version >= '3.7'
joblib==1.3.2; python_version >= '3.7'
jsonpointer==2.4
jsonref==1.1.0; python_version >= '3.7'
jsonschema[format-nongpl]==4.20.0; python_version >= '3.8'
jsonschema-specifications==2023.11.2; python_version >= '3.8'
kaggle==1.5.16
keyring==24.2.0; python_version >= '3.8'
lit==17.0.6
markupsafe==2.1.3; python_version >= '3.7'
monotonic==1.6
more-itertools==10.1.0; python_version >= '3.8'
mpmath==1.3.0
msgpack==1.0.7; python_version >= '3.8'
multidict==6.0.4; python_version >= '3.7'
multiprocess==0.70.15; python_version >= '3.7'
neptune==1.6.3; python_version >= '3.7' and python_version < '4.0'
networkx==3.2.1; python_version >= '3.9'
ninja==1.11.1.1
numpy==1.26.2; python_version >= '3.9'
oauthlib==3.2.2; python_version >= '3.6'
openai==0.28.1; python_full_version >= '3.7.1'
packaging==23.2; python_version >= '3.7'
pandas==2.1.4; python_version >= '3.9'
peft==0.5.0; python_full_version >= '3.8.0'
pillow==10.1.0; python_version >= '3.8'
portalocker==2.8.2; python_version >= '3.8'
protobuf==3.20.3; python_version >= '3.7'
psutil==5.9.7; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
py-cpuinfo==9.0.0
pyarrow==14.0.2; python_version >= '3.8'
pyarrow-hotfix==0.6; python_version >= '3.5'
pycparser==2.21
pydantic==1.10.13; python_version >= '3.7'
pyjwt==2.8.0; python_version >= '3.7'
python-dateutil==2.8.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-editor==1.0.4
python-slugify==8.0.1; python_version >= '3.7'
pytz==2023.3.post1
pyyaml==6.0.1; python_version >= '3.6'
readchar==4.0.5; python_version >= '3.7'
referencing==0.32.0; python_version >= '3.8'
regex==2023.10.3; python_version >= '3.7'
requests==2.31.0; python_version >= '3.7'
requests-oauthlib==1.3.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.15.2; python_version >= '3.8'
s3transfer==0.9.0; python_version >= '3.8'
sacrebleu==2.0.0; python_version >= '3.6'
safetensors==0.4.1; python_version >= '3.7'
scikit-learn==1.3.2; python_version >= '3.8'
scipy==1.11.4; python_version >= '3.9'
secretstorage==3.3.3; sys_platform == 'linux'
sentencepiece==0.1.99
setuptools==69.0.2; python_version >= '3.8'
simplejson==3.19.2; python_version >= '2.5' and python_version not in '3.0, 3.1, 3.2, 3.3'
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
smmap==5.0.1; python_version >= '3.7'
sniffio==1.3.0; python_version >= '3.7'
soupsieve==2.5; python_version >= '3.8'
sqlalchemy==1.4.50; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
sqlitedict==1.7.0
starlette==0.31.1; python_version >= '3.8'
swagger-spec-validator==3.0.3; python_version >= '3.7'
sympy==1.12; python_version >= '3.8'
tabulate==0.9.0; python_version >= '3.7'
tenacity==8.2.3; python_version >= '3.7'
text-unidecode==1.3
threadpoolctl==3.2.0; python_version >= '3.8'
tiktoken==0.5.1; python_version >= '3.8'
tokenizers==0.15.0; python_version >= '3.7'
toml==0.10.2; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
torch==2.0.1+cu118
torchvision==0.15.2+cu118
tornado==6.4; python_version >= '3.8'
tqdm==4.66.1; python_version >= '3.7'
transformers==4.36.1; python_full_version >= '3.8.0'
triton==2.0.0; platform_system == 'Linux' and platform_machine == 'x86_64'
types-python-dateutil==2.8.19.14
typing-extensions==4.9.0; python_version >= '3.8'
tzdata==2023.3; python_version >= '2'
uri-template==1.3.0
urllib3==2.0.7; python_version >= '3.7'
uvicorn==0.24.0.post1; python_version >= '3.8'
wcwidth==0.2.12
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0; python_version >= '3.8'
xxhash==3.4.1; python_version >= '3.7'
xyzservices==2023.10.1; python_version >= '3.8'
yarl==1.9.4; python_version >= '3.7'
zipp==3.17.0; python_version >= '3.8'
