-i https://pypi.org/simple
--extra-index-url https://download.pytorch.org/whl/cu117
accelerate==0.18.0
aiohttp==3.8.4 ; python_version >= '3.6'
aiosignal==1.3.1 ; python_full_version >= '3.7.0'
anyio==3.6.2 ; python_full_version >= '3.6.2'
arrow==1.2.3 ; python_version >= '3.6'
async-timeout==4.0.2 ; python_version >= '3.6'
attrs==23.1.0 ; python_full_version >= '3.7.0'
beautifulsoup4==4.11.1
bitsandbytes==0.38.1
bokeh==2.4.2
boto3==1.20.24
botocore==1.23.54 ; python_version >= '3.6'
bravado==11.0.3 ; python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
bravado-core==5.17.1 ; python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
certifi==2022.12.7 ; python_version >= '3.6'
charset-normalizer==3.1.0 ; python_full_version >= '3.7.0'
click==8.1.3 ; python_full_version >= '3.7.0'
cmake==3.26.3
colorama==0.4.6 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
coolname==1.1.0
cramjam==2.6.2 ; python_full_version >= '3.7.0'
datasets==2.11.0
dill==0.3.4
einops==0.6.1
fastparquet==0.8.1
filelock==3.12.0 ; python_full_version >= '3.7.0'
fqdn==1.5.1
frozenlist==1.3.3 ; python_full_version >= '3.7.0'
fsspec[http]==2023.4.0 ; python_version >= '3.8'
future==0.18.3 ; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
gitdb==4.0.10 ; python_full_version >= '3.7.0'
gitpython==3.1.31 ; python_full_version >= '3.7.0'
gputil==1.4.0
greenlet==2.0.2 ; python_version >= '3' and platform_machine == 'aarch64' or (platform_machine == 'ppc64le' or (platform_machine == 'x86_64' or (platform_machine == 'amd64' or (platform_machine == 'AMD64' or (platform_machine == 'win32' or platform_machine == 'WIN32')))))
huggingface-hub==0.13.4
idna==3.4 ; python_version >= '3.5'
isoduration==20.11.0
jinja2==3.1.2 ; python_full_version >= '3.7.0'
jmespath==0.10.0 ; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
joblib==1.2.0 ; python_full_version >= '3.7.0'
jsonpointer==2.3
jsonref==1.1.0 ; python_full_version >= '3.7.0'
jsonschema==4.17.3 ; python_full_version >= '3.7.0'
kaggle==1.5.12
lit==16.0.2
markupsafe==2.1.2 ; python_full_version >= '3.7.0'
monotonic==1.6
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4 ; python_full_version >= '3.7.0'
multiprocess==0.70.12.2
neptune==1.1.1
networkx==3.1 ; python_version >= '3.8'
numpy==1.23.2
oauthlib==3.2.2 ; python_version >= '3.6'
openai==0.27.4
packaging==23.1 ; python_full_version >= '3.7.0'
pandas==1.4.2
git+https://github.com/huggingface/peft@e8f66b8a425eced6c592089d40b8d33d82c2b2f0#egg=peft
pillow==9.5.0 ; python_full_version >= '3.7.0'
portalocker==2.7.0 ; python_version >= '3.5'
protobuf==3.20.3
psutil==5.9.5 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pyarrow==8.0.0
pyjwt==2.6.0 ; python_full_version >= '3.7.0'
pyrsistent==0.19.3 ; python_full_version >= '3.7.0'
python-dateutil==2.8.2 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-slugify==8.0.1 ; python_full_version >= '3.7.0'
pytz==2023.3
pyyaml==6.0
regex==2023.3.23 ; python_version >= '3.8'
requests==2.29.0 ; python_full_version >= '3.7.0'
requests-oauthlib==1.3.1 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
responses==0.18.0 ; python_full_version >= '3.7.0'
rfc3339-validator==0.1.4
rfc3987==1.3.8
s3transfer==0.5.2 ; python_version >= '3.6'
sacrebleu==2.0.0
scikit-learn==1.0.2
scipy==1.10.1 ; python_version < '3.12' and python_version >= '3.8'
sentencepiece==0.1.96
simplejson==3.19.1 ; python_version >= '2.5' and python_version not in '3.0, 3.1, 3.2, 3.3'
six==1.16.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
smmap==5.0.0 ; python_version >= '3.6'
sniffio==1.3.0 ; python_full_version >= '3.7.0'
soupsieve==2.4.1 ; python_full_version >= '3.7.0'
sqlalchemy==1.4.36
sqlitedict==1.7.0
starlette==0.25.0
swagger-spec-validator==3.0.3 ; python_full_version >= '3.7.0'
sympy==1.11.1 ; python_version >= '3.8'
tabulate==0.9.0 ; python_full_version >= '3.7.0'
text-unidecode==1.3
threadpoolctl==3.1.0 ; python_version >= '3.6'
tokenizers==0.13.3
toml==0.10.2
torch==2.0.0+cu117
torchaudio==2.0.1+cu117
torchvision==0.15.1+cu117
tornado==6.3.1 ; python_version >= '3.8'
tqdm==4.64.0
transformers==4.28.1
triton==2.0.0 ; platform_system == 'Linux' and platform_machine == 'x86_64'
typing-extensions==4.5.0 ; python_full_version >= '3.7.0'
uri-template==1.2.0
urllib3==1.26.15 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
webcolors==1.13
websocket-client==1.5.1 ; python_full_version >= '3.7.0'
xxhash==3.2.0 ; python_version >= '3.6'
yarl==1.9.2 ; python_full_version >= '3.7.0'
deps/h2o_wave-nightly-py3-none-manylinux1_x86_64.whl
