name: Build and Push to Voran

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - id: GCP auth
        uses: google-github-actions/auth@v1
        with:
          credentials_json: '${{ secrets.GCP_CRED_JSON }}'
      - name: Configure Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v1
      - name: Configure Docker Client
        run: |-
          gcloud info
          gcloud auth configure-docker --quiet #authenticate to gcr