name: Style

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  style:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          version: "0.7.20"

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.10.11
      - run: make setup-dev
      - run: make format-check
